apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: matverseny-backend
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://verseghy.github.io/charts/
    chart: matverseny-backend
    targetRevision: 0.1.15
    helm:
      valuesObject:
        ingress:
          annotations:
            cert-manager.io/issuer: letsencrypt-prod
          enabled: true
          hosts:
            - host: api.{{ .Values.hostname }}
              paths:
                - path: /v1/
                  pathType: ImplementationSpecific
          tls:
            - hosts:
                - api.{{ .Values.hostname }}
              secretName: matverseny-backend-tls
  destination:
    name: verseghy-matverseny
    namespace: {{ .Values.namespace }}
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true