apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: matverseny-iam
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://verseghy.github.io/charts/
    chart: iam
    targetRevision: 0.1.24
    helm:
      valuesObject:
        ingress:
          annotations:
            cert-manager.io/issuer: letsencrypt-prod
          enabled: true
          hosts:
            - host: iam.{{ .Values.hostname }}
              paths:
                - path: /v1/
                  pathType: ImplementationSpecific
                - path: /.well-known/
                  pathType: ImplementationSpecific
          tls:
            - hosts:
                - iam.{{ .Values.hostname }}
              secretName: matverseny-iam-tls
  destination:
    name: verseghy-matverseny
    namespace: {{ .Values.namespace }}
  syncPolicy:
    automated: {}
